header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #235196;
  margin-left: 70px;
}

nav ul {
  list-style: none;
  margin-right: 100px;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #235196;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  color: #ffd872;
}
