<mat-card class="container">
    <mat-card-title style="text-align: center;">Changer votre mot de passe</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="valider()" class="container flex">
  
        <div class="client-info">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nouveau Mot de Passe</mat-label>
            <input matInput [(ngModel)]="new_password" name="new_password">
          </mat-form-field>
        </div>
        <div class="button-container">
        <button mat-raised-button color="primary" type="submit" >Suivant</button>
      </div>
      </form>
    </mat-card-content>
  </mat-card>