
mat-form-field, textarea
{
  width: 100%;
}

button{
 margin-right: 2mm;
 margin-top: 1mm;
}

mat-spinner {
  margin: auto;
}

/*
* Special way of defining CSS element to be aplied only to 'file' type of input
*/
input[type="file"]{
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height:100%;
}

.mat-raised-button.mat-red {
  background-color: rgba(197, 59, 59, 0.863);
  color: #ffffff;
}

.align {
  position: relative;
  left: 240px;
  bottom: 561px;
  width: 736px;
}
