<!--<div class="form-container madiv flex">-->
<!--  <h2>Informations personnelles</h2>-->
<!--  <form>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom *</label>-->
<!--        <input type="text" id="nom" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prénom *</label>-->
<!--        <input type="text" id="prenom" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group">-->
<!--        <label for="pieceIdentite">Pièce d'identité *</label>-->
<!--        <input type="text" id="pieceIdentite" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="numPieceIdentite">N° pièce d'identité *</label>-->
<!--        <input type="text" id="numPieceIdentite" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group">-->
<!--        <label for="dateNaissance">Date de naissance</label>-->
<!--        <input type="date" id="dateNaissance">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="adresse">Adresse *</label>-->
<!--        <input type="text" id="adresse" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email *</label>-->
<!--        <input type="email" id="email" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="confirmationEmail">Confirmation Email</label>-->
<!--        <input type="email" id="confirmationEmail">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group">-->
<!--        <label for="telephone">Numéro de téléphone *</label>-->
<!--        <input type="tel" id="telephone" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="numImmatriculation">N° d'immatriculation au registre de commerce *</label>-->
<!--        <input type="text" id="numImmatriculation" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row ml-2">-->
<!--      <div class="form-group">-->
<!--        <label for="numPatente">N° de patente *</label>-->
<!--        <input type="text" id="numPatente" required>-->
<!--      </div>-->
<!--    </div>-->


<!--    <h2>Pièces jointes</h2><div class="form-row">-->
<!--    <div class="form-group">-->
<!--      <label for="fileDescription">Description</label>-->
<!--      <input type="text" id="fileDescription" placeholder="Ajouter une description">-->
<!--    </div>-->
<!--    <div class="form-group file-upload">-->
<!--      <label for="fileUpload">Fichier</label>-->
<!--      <div class="input-group grid">-->
<!--        <button type="button" class="m-4" onclick="document.getElementById('fileUpload').click();">Parcourir...</button>-->
<!--        <input type="file" id="fileUpload" style="display: none;" onchange="updateFileName()">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--    <div>-->
<!--      <div class="form-actions">-->
<!--        <button type="submit">Enregistrer</button>-->
<!--        <button type="button">Annuler</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
